.info {
    text-align: left;
    margin-left: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.info2 {
    text-align: left;
    margin-left: 20vh;
    font-size: 22px;
}

.info3 {
    text-align: left;
    margin-left: 5vh;
    margin-top: 4vh;
}

.facebook {
    color: black;
}

.instagram {
    color: black;
    padding-left: 5vh;
    padding-bottom: 5vh;
}

.line {
    color:black;
    padding-left: 5vh;
    padding-bottom: 5vh;
}